.ArticleImage {
  padding: 0 var(--primary-margin);
  padding-top: calc(12px + var(--vertical-margin-base));
  display: flow-root;
  
  .container {
    height: 30vw;
    max-height: 400px;
  }

  .caption {
    margin-top: var(--vertical-margin-base);
    margin-bottom: calc(12px + var(--vertical-margin-base));
  }
  
  .Image {
    height: 100%;
    @media (min-width: 700px) {
      width: var(--golden-split-big);
    }
  }
}
