.CohortBox {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 46% 29% 25%;
  overflow: hidden;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
  
  &:hover {
    box-shadow: 6px 6px 42px rgba(0, 0, 0, 0.2);
  }

  .backdrop {
    mix-blend-mode: soft-light;
    opacity: 0.5;
    font-family: "National Bold";
    user-select: none;
    pointer-events: none;
  }
  
  /* --box-scale is from CohortDates */

  .year {
    grid-column: 1;
    grid-row: 1;
    padding-left: 5.8%;
    font-size: calc( var(--box-scale) * 60 );
    line-height: .85;
  }

  .month {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    place-self: center;
    font-size: calc( var(--box-scale) * 240 );
  }

  .detail {
    padding: 8% 8% 0 8%;
    grid-column: 1 / 3;
    grid-row: 1;
    width: 90%;

    font-size: calc( var(--box-scale) * 23 );
    line-height: calc( var(--box-scale) * 28 );

    header {
      font-family: "National Bold";
      font-size: calc( var(--box-scale) * 32 );
      margin-bottom: calc( var(--box-scale) * 9 );
    }
  }

  .date {
    grid-row: 2;
    margin-bottom: 16%;
    padding-top: 12%;
    border-top: 2px solid var(--blue-medium);
    
    :global(.StatCaption) {
      color: var(--blue-dark);
      margin-bottom: 2px;
    }
    
    &.start {
      grid-column: 1;
      margin-left: 16%;
      border-right: 2px solid var(--blue-medium);
    }
    
    &.end {
      grid-column: 2;
      margin-right: 16%;
      padding-left: 16%;
    }
  }

  .cta {
    grid-row: 3;
    grid-column: 1 / 3;
    background: var(--white-transparent-30);
    margin-top: 0;
    display: grid;
  }

  .ctaLink {
    font-size: calc( var(--box-scale) * 23 );
    display: grid;
    place-items: center;
    place-content: center;

    transition: background 250ms ease-in-out,
      color 250ms ease-in-out;

    &:hover {
      background: var(--blue-dark);
      color: var(--white);
    }
  }
}
