@font-face {
  font-family: "Newzald Book";
  src: url("../../public/fonts/Newzald/Newzald-Book.otf");
}

@font-face {
  font-family: "Newzald Black";
  src: url("../../public/fonts/Newzald/Newzald-Black.otf")
}

@font-face {
  font-family: "National Bold";
  src: url("../../public/fonts/National/National-Bold.otf")
}

@font-face {
  font-family: "National Book";
  src: url("../../public/fonts/National/National-Book.otf")
}

@font-face {
  font-family: "National Light";
  src: url("../../public/fonts/National/National-Light.otf")
}

@font-face {
  font-family: "National Thin";
  src: url("../../public/fonts/National/National-Thin.otf")
}

body {
  font-family: "National Book";
}

.informative, strong {
  font-family: "National Bold";
}

.expressive {
  font-family: "Newzald Black";
}




