.Endorsements {
  padding: var(--primary-margin);

  .Content {
    text-align: center;
  }

  .List {
    padding-top: var(--primary-margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex-grow: 1;
      text-align: center;
      padding: calc( var(--primary-margin) * .25 );
      
      display: flex;
      flex-direction: column;
      align-items: center;

      .Image {
        max-width: 180px;
        max-height: 180px;

        img {
          height: 100%;
          width: 100%;
        }
      }


    }
  }

}