.Endorsements {
  padding: var(--primary-margin);

  .Content {
    text-align: center;
  }

  .List {
    padding-top: calc( var(--primary-margin) * .5 );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc( var(--primary-margin) * .5 );

    li {
      flex-grow: 1;
      text-align: center;
      padding: calc( var(--primary-margin) * .25 );
      width: 150px;
      
      display: flex;
      flex-direction: column;
      align-items: center;

      .Image {
        width: 125px;
        height: 125px;
        margin-bottom: calc( var(--primary-margin) * .25 );
        
        img {
          height: 100%;
          /* fixes ipad safari bug */
          min-height: 100%;  
          width: 100%;
          object-fit: contain;
        }
      }
    }

    @media (min-width: 1024px) {
      li {
        width: 200px;
        .Image {
          width: 165px;
          height: 165px;
        }
      }
    }
  }

}