---
import Page from '../layouts/page.astro';
import { Steps } from '../components/Steps/Steps.jsx';
---

<Page pages={[]} page={{}}>
	<Steps
    theme="white"
    content={{
      headline: '<p>Application Process</p>',
    }}
    steps={[{
      headline: `    
        <p>Complete your application</p>
      `,
      text: `
        This short-form questionnaire helps our team customize your interview and admissions experience.
      `,
      cta: {
        theme: 'peach',
        text: 'Apply Now',
        url: '#',
        type: 'primary'
      }
    }, {
      headline: `    
        <p>Schedule an interview</p>
      `,
      text: `
        During this 30 - 45 min Zoom conversation we help you plan for success starting with a goal assessment and extensive Q&A. You will be able to meet with us more than once.
      `,
    }, 
    {
      headline: `    
        <p>Formally enroll</p>
      `,
      text: `
        A paid program deposit and signed agreement secure your cohort seat. You then have time to apply for scholarships (if applicable) and to explore your funding and preparation plans with our admissions team as a resource.
      `,
    }, 
    {
      headline: `    
        <p>Prepare for class</p>
      `,
      text: `
        Preparation requires 40 hours of tutorial prework online with the optional 30-hour Developer 101 week course. You’ll join our prework Slack and have access to instructional support and our entire community before your cohort begins!
      `,
      cta: {
        theme: 'peach',
        text: 'Sign Up for Dev 101',
        url: '#',
        type: 'primary'
      }
    }
    ]}
  />
</Page>
