.Steps {
  
  padding-bottom: calc(var(--primary-margin) * 2);
  
  @media (min-width: 700px) {   
    padding: var(--primary-margin);
    grid-template-columns: 1fr 1fr;
    padding-bottom: calc(var(--primary-margin) * 1.5);
  } 
  
  .contentContainer {
    max-width: var(--content-width);
    padding: var(--primary-margin);
    padding-bottom: 0;
      
    @media (min-width: 700px) { 
      padding: 0;
      margin-bottom: calc(var(--primary-margin) * .5);
    } 
  }

  .steps {
    counter-reset: li;
    list-style:none;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 700px) {   
      grid-template-columns: 1fr 1fr;
    }    
  }

  .step {

    &:before {
      display: block;
      content: counter(li);
      counter-increment: li;
      padding-bottom: calc(var(--primary-margin) / 4);
      font-family: "Newzald Black";
      font-size: calc(42.51px + ( var(--scale) * 47.49));
      line-height: calc(43.07px + ( var(--scale) * 60.93));
    }

    padding: var(--primary-margin);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    @media (min-width: 700px) {   
      
      padding-top: calc(var(--primary-margin) / 2);
      padding-left: 0;
      padding-right: 0;
      
      &:nth-child(4n), &:nth-child(4n-1) {
        border-bottom: 0;
      }

      &:nth-child(even) {
        padding-left: var(--primary-margin);
      }
      
      &:nth-child(odd) {
        border-right-width: 1px;
        border-right-style: solid;
        padding-right: var(--primary-margin);
      }

      &:nth-last-child(1), &:nth-last-child(2):not(:nth-child(even)) {
        padding-bottom: calc(var(--primary-margin) * .25);
      }

    }

  }
}
