.ControlBar {
  z-index: 100;
  position: absolute;
  padding: calc(0.5 * var(--primary-margin)) var(--primary-margin);
  
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 24px;

  .selector {
    letter-spacing: 12px;
    color: var(--white);

    label::before {
      content: '●';
    }
    
    input:checked + label::before {
      color: var(--black);
    }

    input {
      display: none;
    }
  }
}
  
