.QuoteCard {
  /* --quote-width is defined in Carousel.module.scss */
  
  display: grid;
  grid-template-columns: calc(.287 * var(--quote-width)) 1fr;
  grid-template-rows: max-content auto;
  grid-template-areas:
    'quote quote'
    'image attribution'
  ;

  grid-gap: 28px 20px;

  &.noImage {
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;
    grid-template-areas:
      'quote'
      'attribution'
    ;
    grid-gap: 28px 0;
  }

  @media (min-width: 700px) { 

    grid-template-columns: calc(.215 * var(--quote-width)) 1fr;
    grid-template-areas:
      'image quote'
      'image attribution'
    ;

    grid-gap: 16px calc(.069 * var(--quote-width));

    &.noImage {
      grid-template-columns: 1fr;
      grid-template-areas:
        'quote'
        'attribution'
      ;
      grid-gap: 16px 0;

    }
  }

  img {
    grid-area: image;
    width: 100%;
    height: calc(.385 * var(--quote-width));
    
    @media (min-width: 700px) { 
      height: calc(.286 * var(--quote-width));
    }
  }

  .Quote {
    grid-area: quote;
  }

  .Attribution {
    grid-area: attribution;
  }
}
