.SmallHero {
  padding: var(--primary-margin);
  padding-top: calc(var(--primary-margin) * 1.5);
  padding-bottom: calc(var(--primary-margin) * .75);

  @media (min-width: 700px) {
    .Content {
      width: var(--golden-split-big);
    }
  }
}
