.TwoColumn{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        'figure'
        'content'
    ;

    &.rightOnBottom {
        grid-template-areas: 
            'content'
            'figure'
        ;
    }

    > *:first-child {
        grid-area: content;  
    }

    > *:last-child {
        grid-area: figure;
        width: 100%;
    }

    --first-column-width: 100vw;
    --second-column-width: 100vw;
    
    @media (min-width: 700px) {
        grid-template-columns: var(--first-column-width) var(--second-column-width);

        --first-column-width: calc(var(--section-width) * .5);
        --second-column-width: calc(var(--section-width) * .5);

        &.onlyGoldenSplit {
            --first-column-width: calc(var(--section-width) * var(--golden-split-small-calc));
            --second-column-width: calc(var(--section-width) * var(--golden-split-big-calc));
        }

        &.onlyGoldenReverseSplit {
            --first-column-width: calc(var(--section-width) * var(--golden-split-big-calc));
            --second-column-width: calc(var(--section-width) * var(--golden-split-small-calc));
        }

        grid-template-areas: 'content figure';
        /* repeat to override the above case */
        &.rightOnBottom {
            grid-template-areas: 'content figure';
        }
        
        &.rightOnLeft, &.rightOnBottom.rightOnLeft {
            grid-template-areas: 'figure content';
        }

    }

    &:not(.onlyHalfSplit) {
        @media (min-width: 1024px) {
            grid-template-columns: var(--first-column-width) var(--second-column-width);
            
            --first-column-width: calc(var(--section-width) * var(--golden-split-small-calc));
            --second-column-width: calc(var(--section-width) * var(--golden-split-big-calc));
            
            &.onlyGoldenReverseSplit {
                --first-column-width: calc(var(--section-width) * var(--golden-split-big-calc));
                --second-column-width: calc(var(--section-width) * var(--golden-split-small-calc));
            }
        }
    }
}
