---
import Page from './Page.jsx';
const { pages, page } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
	</head>
	<body>
	
		<Page pages={pages} page={page}>
			<slot/>
		</Page>
		
		<script crossOrigin="true" src="https://polyfill.app/api/polyfill?features=scroll-behavior"></script>
		<script type="module" src="/scripts/main.js"></script>

	</body>
</html>
