---
import '../styles/reset.scss';
import '../styles/globals.scss';
import '../styles/typography.scss';
import '../styles/color.scss';

const { page } = Astro.props;
// TODO: title and metadata

---

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
	</head>
	<body>
	
		<slot/>

		<script crossOrigin="true" src="https://polyfill.app/api/polyfill?features=scroll-behavior"></script>
		<script type="module" src="/scripts/main.js"></script>

	</body>
</html>
