---
import HeaderBar from '../components/HeaderBar/HeaderBar.jsx'
import Footer from '../components/Footer/Footer.jsx';

const { page, pages } = Astro.props;
// TODO: title and metadata

---

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/reset.css')}>
		<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/globals.css')}>
		<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/typography.css')}>
		<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/color.css')}>
	</head>
	<body>
	
		<slot/>

		<script crossOrigin="true" src="https://polyfill.app/api/polyfill?features=scroll-behavior"></script>
		<script type="module" src="/scripts/main.js"></script>

	</body>
</html>
