.Schedules {
  
  --narrow-image-height: 60vw;

  grid-template-rows: var(--narrow-image-height) auto;

  @media (min-width: 700px) {
    grid-template-rows: auto;
  }

  .leftContainer {
    z-index: 1;
    padding-bottom: calc(var(--primary-margin) / 2);
    display: grid;
    grid-template-rows: max-content max-content 1fr;
  }

  .headerContent {
    padding: var(--primary-margin);
    padding-bottom: 28px;
  }

  .TabsContainer {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: inherit;

    margin-left: var(--primary-margin);
    @media (min-width: 700px) {
      padding-right: 0;
      margin-right: var(--primary-margin);
    }
  }

  .SchedulesContainer {
    position: relative;
    display: grid;
    grid-template-areas: "schedule";
    overflow: hidden;

    @media (min-width: 700px) {
      // margin-top: 28px;
    }

    --gap: 28px;

    .ScheduleContainer {
      grid-area: schedule;
      visibility: hidden;
      overflow: auto;

      // padding-top: var(--gap);
      padding-bottom: calc(var(--primary-margin) * 0.75);

      @media (min-width: 700px) {
        padding-right: var(--primary-margin);
        padding-left: var(--primary-margin);
      }

      &:global(.active) {
        visibility: visible;
      }
    }


  }
}

.ImageViewer {
  display: grid;
  grid-template-areas: "image";

  .imageContainer {
    grid-area: image;
    opacity: 0;

    transition: opacity 250ms ease-in;

    &:global(.active) {
      opacity: 1;
    }
  }

  // img {
  //   height: var(--narrow-image-height);
  // }

  @media (min-width: 700px) {
    padding: var(--primary-margin) 0;
    // img {
    //   height: calc(var(--height) - (var(--primary-margin) * 2));
    // }
  }
}
