.TabbedStatsDisplay {

    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        'content'
        'stats'
        'trailer'
    ;

    @media (min-width: 700px) {
        grid-template-columns: 50% 50%;
        grid-template-areas: 
            'content stats'
            'trailer stats'
        ;
    }

    .Content {
        grid-area: content;
        padding: var(--primary-margin);    
    }

    .Stats {
        grid-area: stats;
    }

    .Trailer {
        grid-area: trailer;
        padding: 0 var(--primary-margin);    
    }
}